<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=false"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
 
  <title><%= title %></title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="正觉"/>
  <link rel="icon" type="image/png" sizes="192x192"  href="https://res.cloudinary.com/da7efhqvt/image/upload/v1541724212/zhengjue/icon_logos/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/da7efhqvt/image/upload/v1541724219/zhengjue/icon_logos/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://res.cloudinary.com/da7efhqvt/image/upload/v1541724219/zhengjue/icon_logos/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/da7efhqvt/image/upload/v1541724218/zhengjue/icon_logos/favicon-16x16.png">
  <link rel="apple-touch-icon-precomposed" href="https://res.cloudinary.com/da7efhqvt/image/upload/v1541724213/zhengjue/icon_logos/apple-icon-72x72.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="https://res.cloudinary.com/da7efhqvt/image/upload/v1541724213/zhengjue/icon_logos/apple-icon-72x72.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <!-- CSS  -->
  <link href="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541722590/zhengjue/css/icon.css" rel="stylesheet">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541721613/zhengjue/css/materialize.min.css">
   <link rel="stylesheet" href="/css/style.css">

   <!-- Compiled and minified JavaScript -->
  <script src="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541722990/zhengjue/js/jquery-2.1.1.min.js"></script>

   <script src="https://zhengjue.lododor.com/gun/gun.min.js"></script>
    <script src="https://zhengjue.lododor.com/gun/sea.js"></script>
    <style>
      @media only screen and (max-width: 360px) {
      .brand-logo img{
        position: relative;
        top: 1px;
        left: 5px;
        width: 44px;
        height: 52px;
      }
    }
    @media only screen and (min-width: 361px) {
      .brand-logo img{
        position: relative;
        top: 3px;
        left: 5px;
        width: 44px;
        height: 52px;
      }
    }
    @media only screen and (min-width: 770px) {
      .mobile-footer-nav{
        display: none;
      }
    }
   
    
    </style>
</head>
<body>
  <nav class="nav-header" style="background-color:rgba(0, 0, 0, 0.23921568627450981); color: white;" role="navigation">
    <div class="nav-wrapper container">
      <a style="display:flex; font-size:21px;" id="logo-container" href="/" class="brand-logo">
        <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541724181/zhengjue/icon_logos/6bb78edb-3a5f-4137-a380-0b66c79ccef7.png" alt="">
        正觉工场  </a>
        
      <ul class="right hide-on-med-and-down">
          <li><a href="/">首页</a></li>
          <!-- <li><a href="/page1">菜单1</a></li>
          <li><a href="/page2">菜单2</a></li>
          <li><a href="/page3">菜单3</a></li> -->
          <% var hasFold = false %>
            <% if(menu.length === 0) {%>
              <li><a href="/login">登录</a></li>

            <% }else{ %>
             
              <% for(var i=0; i < menu.length; i++){ %>
               
                <% if(menu[i].isFold === false) { %>
                  <li><a href="<%= menu[i].path %>"><%= menu[i].name %></a></li>
                <% } %>
              <% } %>
              
             <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <% for(var j=0; j < menu.length; j++){ %>
             
                  <% if(menu[j].isFold === true) { %>
                    <% hasFold = true %>
                    <li><a href="<%= menu[j].path %>"><%= menu[j].name %> </a></li>
                  <% } %>
                <% } %>
              </ul>

              <% if(hasFold === true) { %>
                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>管理面板</a>
              <% }%>


            <% } %>
          
         
       
        
      </ul>

      <ul id="nav-mobile" class="sidenav">
          <li><a href="/">首页</a></li>
          <!-- <li><a href="/page1">菜单1</a></li>
          <li><a href="/page2">菜单2</a></li>
          <li><a href="/page3">菜单3</a></li> -->
          <% if(menu.length === 0) {%>
            <li><a href="/login">登录</a></li>

          <% }else{ %>
            <% for(var k=0; k < menu.length; k++){ %>
               
              <% if(menu[k].isFold === false) { %>
                <li><a href="<%= menu[k].path %>"><%= menu[k].name %></a></li>
              <% } %>
            <% } %>

            <% if(hasFold === true) { %>
              <ul class="collapsible">
                  <li>
                    <div class="collapsible-header">管理面板</div>
                    <div class="collapsible-body" style="z-index: 9999;
                    background: gray;">
                            <% for(var l=0; l < menu.length; l++){ %>
                         
                              <% if(menu[l].isFold === true) { %>
                                <% hasFold = true %>
                                <a href="<%= menu[l].path %>"><%= menu[l].name %></a>
                              <% } %>
                            <% } %>
                    </div>
                  </li>
              </ul>
            <% }%>


          <% } %>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="main-content">

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var dropElems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(dropElems, {});
     
    });
   
  </script>

