<% include ./layouts/frontend_header %>
<style>
    .reg-form-center{
        text-align: center;
    }
    .reg-container{
        text-align: center;
        max-width: 500px;
    }
</style>

<div class="container reg-container">
        <div class="row">
            <div class="col s12 flow-text reg-form-center">创建一个正觉账号</div>
            <form id="reg_form" action="/reg" method="POST" class="col s12 flow-text">
                <div class="row">
                      
                        <div class="row">
                                <div class="input-field col s12">
                                  <input id="email" type="email" name="email" class="validate">
                                  <label for="email">电子邮箱</label>
                                  <span id="email-helper" class="helper-text" data-error="邮箱格式错误" data-success=""></span>
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                  <input id="username" type="text" name="username" class="validate">
                                  <label for="username">用户名</label>
                                  <span id="username-helper" class="helper-text" data-error="" data-success=""></span>
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" class="validate">
                                  <label for="password">密码</label>
                                  <span id="password-helper" class="helper-text" data-error="" data-success=""></span>

                                </div>
                                <input id="password_true" name="password" value="" type="hidden">

                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="password-repeat" type="password" name="password_repeat"  class="validate">
                              <label for="password-repeat">重复您的密码</label>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col s6"><Button type="submit" class="waves-effect waves-light btn red darken-1">注册</Button></div>
                                <div class="col s6"><a href="/login" class="waves-effect waves-light btn blue lighten-1">已有账号，登录</a></div>
                        </div>
                       
                </div>
               
            </form>
               
               
        </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var gun = window.Gun(window.location.hostname+'/gun');

        if("<%=reg_session %>"!==''){
            gun.get("zhengjue").get("reg_sessions").get("<%=reg_session %>").once(function(data,key){
                console.log(data);
                if(data!== null){
                    $("#email").val(data.email);
                    $("#password").val(data.password);
                    $("#username").val(data.username);
                    $("#password-repeat").val(data.password_repeat);
                    M.updateTextFields();
                    gun.get("zhengjue").get("reg_sessions").get("<%=reg_session %>").put(null, function(ack){
                        console.log(ack);
                    
                    });

                }
               
               
               

            })

        }

        

        if("<%=msg %>"=== "username_repeat"){
            $("#username-helper").attr("data-error", "用户名被占用");
            $("#username").attr("class", "validate invalid");
            

        }
        if("<%=msg %>"=== "email_repeat"){
            $("#email-helper").attr("data-error", "邮箱已经被占用");
            $("#email").attr("class", "validate invalid");
            
           
            

        }


        $("#reg_form").submit((e)=>{

            var email = $(e.target).find('#email').val();
            var fake_password = $(e.target).find("#password").val()
            var password_repeat = $(e.target).find("#password-repeat").val();
            var username = $(e.target).find("#username").val();
            if(fake_password !== password_repeat){
                $(e.target).find("#password-helper").attr("data-error", "两次密码不一致");
                $(e.target).find("#password").attr("class", "validate invalid");
                return false;
            }
            $("#password_true").val(fake_password);

            
            if(!email){
                $(e.target).find("#email-helper").attr("data-error", "邮箱不得为空");
                $(e.target).find("#email").attr("class", "validate invalid");
                return false;
            }
            if(!username.match(/^[a-zA-Z0-9]{3,30}$/)){
                $(e.target).find("#username-helper").attr("data-error", "用户名格式为数字字母6到30位");
                $(e.target).find("#username").attr("class", "validate invalid");
                return false;
            }

             if(!username){
                $(e.target).find("#username-helper").attr("data-error", "用户名不得为空");
                $(e.target).find("#username").attr("class", "validate invalid");
                return false;
            }
            
            if(!fake_password){
                $(e.target).find("#password-helper").attr("data-error", "密码不得为空");
                $(e.target).find("#password").attr("class", "validate invalid");
                return false;
            }

            if(!fake_password.match(/^[a-zA-Z0-9]{6,30}$/)){
                $(e.target).find("#password-helper").attr("data-error", "密码格式为数字字母6到30位");
                $(e.target).find("#password").attr("class", "validate invalid");
                return false;
            }
            

            return true;
        })
    });

</script>



<% include ./layouts/frontend_footer %>