<% include ./layouts/frontend_header %>
<script>
      var role_ids = {};
</script>

<script>
  

        console.log(role_ids);
        function removeRoleSelect(roleId){
                role_ids[roleId] = false;
                let roleInput = $("input[value="+roleId+"]");
                roleInput.remove();
                
        }

        function selectRoleItem(roleId, roleName){
                console.log(role_ids);
                
                if(role_ids[roleId]){
                        return alert("同样角色不能重复授权");
                }
                role_ids[roleId] = true;
                $("#user_role_chips").append('<div class="chip">'+roleName+'<i onclick="removeRoleSelect(\''+roleId+'\')" class="close material-icons">close</i></div><input type="hidden" value="'+roleId+'" name="role_ids">')
        }

        
</script>

<div class="container" style="position:relative; top:120px;">
            <form id="grant_user_form" action="/users/update/<%=user._id%>" method="POST" class="col s12 flow-text">
                <ul class="collection with-header">
                        <li class="collection-header"><h6>授权用户</h6></li>
                        <li class="collection-item"><div>用户名: <div class="secondary-content"><%= user.username %> </div></div></li>
                        <li class="collection-item"><div>邮箱 <div class="secondary-content"><%= user.email %> </div></div></li>
                        <li class="collection-item"><div>已授权角色：</div></li>
                        <li class="collection-item">
                                <div id="user_role_chips">
                                        <% for(var j=0; j < user_roles.length; j++){ %>
                                        <div class="chip">
                                                <%=user_roles[j].name %>
                                         <i onclick="removeRoleSelect('<%=user_roles[j]._id %>')" class="close material-icons">close</i>
                                        </div>
                                        <input type="hidden" value="<%=user_roles[j]._id %>" name="role_ids"/>
                                        <script>
                                                role_ids["<%=user_roles[j]._id %>"] = true;
                                        </script>
                                        <% } %>
                                </div>
                        </li>
                       
                </ul>
                <div class="row center">
                        <button type="submit" class="btn wave-effect large red" style="width: 80%">提交授权</button>
                    </div>
            </form>
                <ul class="collection with-header">
                        <li class="collection-header"><h5>选择角色</h5>
                                <input id="search" placeholder="搜索"><br/>
                              </li>
                              <% for(var i=0; i< roles.length; i++) {%>
                                <a href="#!" onclick="selectRoleItem('<%= roles[i]._id %>', '<%= roles[i].name %>')" class="collection-item select-role-item">
                                        <div><%= roles[i].name %></div>
                                </a>
                              <% } %>

                </ul>
                <div class="row center">
                        <button type="button" id="submit-trigger-btn" class="btn wave-effect large red" style="width: 80%">提交授权</button>
                </div>
               
              
               
          
               
               

</div>
<br><br> <br><br> <br><br> <br><br>
<script>
        $(document).ready(function(){
                $("#submit-trigger-btn").click(function(){
                        $("#grant_user_form").submit();
                });
                
        })
</script>
<% include ./layouts/frontend_footer %>
